:root {
	--color-primary: var(--primary-80);
	--color-on-primary: var(--primary-20);
	--color-primary-container: var(--primary-30);
	--color-on-primary-container: var(--primary-90);

	--color-secondary: var(--secondary-80);
	--color-on-secondary: var(--secondary-20);
	--color-secondary-container: var(--secondary-30);
	--color-on-secondary-container: var(--secondary-90);

	--color-tertiary: var(--tertiary-80);
	--color-on-tertiary: var(--tertiary-20);
	--color-tertiary-container: var(--tertiary-30);
	--color-on-tertiary-container: var(--tertiary-90);

	--color-error: var(--error-80);
	--color-on-error: var(--error-20);
	--color-error-container: var(--error-30);
	--color-on-error-container: var(--error-90);

	--color-surface-dim: var(--neutral-6);
	--color-surface: var(--neutral-6);
	--color-surface-bright: var(--neutral-24);
	--color-surface-container-lowest: var(--neutral-4);
	--color-surface-container-low: var(--neutral-10);
	--color-surface-container: var(--neutral-12);
	--color-surface-container-high: var(--neutral-17);
	--color-surface-container-highest: var(--neutral-22);
	--color-on-surface: var(--neutral-90);
	--color-on-surface-variant: var(--neutral-variant-80);
	--color-outline: var(--neutral-variant-60);
	--color-outline-variant: var(--neutral-variant-30);
}
