// Breakpoints
$compact: 600px;
$medium: 840px;
$expanded: 1200px;
$large: 1600px;

:root {
	// Typography
	--fonts-body: 'Synonym', sans-serif;
	--fonts-headings: 'Cabinet Grotesk', sans-serif;

	// Spacing
	--space-1: 4px;
	--space-2: 8px;
	--space-3: 12px;
	--space-4: 16px;
	--space-5: 20px;
	--space-6: 24px;
	--space-7: 28px;
	--space-8: 32px;
	--space-9: 36px;
	--space-10: 40px;

	// Corner radii
	--round-xsm: 4px;
	--round-sm: 8px;
	--round-md: 12px;
	--round-lg: 16px;
	--round-xlg: 28px;
	--round-full: 9999px;

	// Colors
	// (custom source color: #0059ff)
	--primary-0: hsl(180, 100%, 0%);
	--primary-10: hsl(180, 100%, 5%);
	--primary-20: hsl(180, 100%, 10%);
	--primary-25: hsl(180, 100%, 12%);
	--primary-30: hsl(180, 100%, 15%);
	--primary-35: hsl(180, 100%, 17%);
	--primary-40: hsl(180, 100%, 20%);
	--primary-50: hsl(180, 100%, 25%);
	--primary-60: hsl(180, 100%, 30%);
	--primary-70: hsl(180, 100%, 35%);
	--primary-80: hsl(180, 100%, 40%);
	--primary-90: hsl(180, 100%, 45%);
	--primary-95: hsl(180, 100%, 47%);
	--primary-98: hsl(180, 100%, 49%);
	--primary-99: hsl(180, 100%, 50%);
	--primary-100: hsl(180, 100%, 100%);

	--secondary-0: hsl(22, 100%, 0%);
	--secondary-10: hsl(22, 100%, 13%);
	--secondary-20: hsl(22, 100%, 21%);
	--secondary-25: hsl(22, 100%, 26%);
	--secondary-30: hsl(22, 100%, 35%);
	--secondary-35: hsl(22, 100%, 35%);
	--secondary-40: hsl(22, 100%, 40%);
	--secondary-50: hsl(22, 100%, 50%);
	--secondary-60: hsl(22, 100%, 60%);
	--secondary-70: hsl(22, 100%, 70%);
	--secondary-80: hsl(22, 100%, 81%);
	--secondary-90: hsl(22, 100%, 92%);
	--secondary-95: hsl(22, 100%, 97%);
	--secondary-98: hsl(22, 100%, 99%);
	--secondary-99: hsl(22, 100%, 99%);
	--secondary-100: hsl(22, 100%, 100%);

	--tertiary-0: hsl(0, 0%, 0%);
	--tertiary-10: hsl(305, 42%, 12%);
	--tertiary-20: hsl(306, 26%, 21%);
	--tertiary-25: hsl(308, 22%, 25%);
	--tertiary-30: hsl(308, 20%, 30%);
	--tertiary-35: hsl(309, 18%, 35%);
	--tertiary-40: hsl(311, 16%, 39%);
	--tertiary-50: hsl(310, 14%, 49%);
	--tertiary-60: hsl(311, 18%, 59%);
	--tertiary-70: hsl(313, 25%, 70%);
	--tertiary-80: hsl(313, 42%, 81%);
	--tertiary-90: hsl(314, 100%, 92%);
	--tertiary-95: hsl(321, 100%, 96%);
	--tertiary-98: hsl(345, 100%, 98%);
	--tertiary-99: hsl(300, 100%, 99%);
	--tertiary-100: hsl(0, 0%, 100%);

	--error-0: hsl(0, 0%, 0%);
	--error-10: hsl(358, 100%, 13%);
	--error-20: hsl(357, 100%, 21%);
	--error-25: hsl(357, 100%, 25%);
	--error-30: hsl(356, 100%, 29%);
	--error-35: hsl(357, 92%, 34%);
	--error-40: hsl(0, 75%, 42%);
	--error-50: hsl(2, 73%, 53%);
	--error-60: hsl(4, 100%, 64%);
	--error-70: hsl(6, 100%, 75%);
	--error-80: hsl(6, 100%, 84%);
	--error-90: hsl(6, 100%, 92%);
	--error-95: hsl(9, 100%, 96%);
	--error-98: hsl(7, 100%, 98%);
	--error-99: hsl(300, 100%, 99%);
	--error-100: hsl(0, 0%, 100%);

	--neutral-0: hsl(0, 0%, 0%);
	--neutral-4: hsl(180, 4%, 4%);
	--neutral-6: hsl(180, 4%, 6%);
	--neutral-10: hsl(180, 4%, 10%);
	--neutral-12: hsl(180, 4%, 12%);
	--neutral-17: hsl(180, 4%, 17%);
	--neutral-20: hsl(180, 4%, 20%);
	--neutral-22: hsl(180, 4%, 22%);
	--neutral-24: hsl(180, 4%, 24%);
	--neutral-25: hsl(180, 4%, 25%);
	--neutral-30: hsl(180, 4%, 30%);
	--neutral-35: hsl(180, 4%, 35%);
	--neutral-40: hsl(180, 4%, 40%);
	--neutral-50: hsl(180, 4%, 50%);
	--neutral-60: hsl(180, 4%, 60%);
	--neutral-70: hsl(180, 4%, 70%);
	--neutral-80: hsl(180, 4%, 80%);
	--neutral-87: hsl(180, 4%, 87%);
	--neutral-90: hsl(180, 4%, 90%);
	--neutral-92: hsl(180, 4%, 92%);
	--neutral-94: hsl(180, 4%, 94%);
	--neutral-95: hsl(180, 4%, 95%);
	--neutral-96: hsl(180, 4%, 96%);
	--neutral-98: hsl(180, 32%, 98%);
	--neutral-99: hsl(180, 64%, 99%);
	--neutral-100: hsl(0, 0%, 100%);

	--neutral-variant-0: hsl(0, 0%, 0%);
	--neutral-variant-10: hsl(233, 15%, 12%);
	--neutral-variant-20: hsl(233, 9%, 20%);
	--neutral-variant-25: hsl(233, 7%, 25%);
	--neutral-variant-30: hsl(234, 7%, 29%);
	--neutral-variant-35: hsl(234, 6%, 34%);
	--neutral-variant-40: hsl(234, 5%, 38%);
	--neutral-variant-50: hsl(240, 4%, 48%);
	--neutral-variant-60: hsl(240, 5%, 58%);
	--neutral-variant-70: hsl(240, 6%, 69%);
	--neutral-variant-80: hsl(240, 10%, 80%);
	--neutral-variant-90: hsl(245, 22%, 90%);
	--neutral-variant-95: hsl(240, 50%, 96%);
	--neutral-variant-98: hsl(257, 100%, 99%);
	--neutral-variant-99: hsl(285, 100%, 99%);
	--neutral-variant-100: hsl(0, 0%, 100%);

	// Fixed colors
	--color-primary-fixed: var(--primary-90);
	--color-primary-fixed-dim: var(--primary-80);
	--color-on-primary-fixed: var(--primary-10);
	--color-on-primary-fixed-dim: var(--primary-30);

	--color-secondary-fixed: var(--secondary-90);
	--color-secondary-fixed-dim: var(--secondary-80);
	--color-on-secondary-fixed: var(--secondary-10);
	--color-on-secondary-fixed-dim: var(--secondary-30);

	--color-tertiary-fixed: var(--tertiary-90);
	--color-tertiary-fixed-dim: var(--tertiary-80);
	--color-on-tertiary-fixed: var(--tertiary-10);
	--color-on-tertiary-fixed-dim: var(--tertiary-30);

	// Shadows
	--elevation-1: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
		rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
	--elevation-2: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px,
		rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
	--elevation-3: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px,
		rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
	--elevation-4: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px,
		rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
	--elevation-5: rgba(0, 0, 0, 0.2) 0px 7px 8px -4px, rgba(0, 0, 0, 0.14) 0px 12px 17px 2px,
		rgba(0, 0, 0, 0.12) 0px 5px 22px 4px;

	// Easing functions
	--easing-emphasized: var(--easing-standard);
	--easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
	--easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
	--easing-standard: cubic-bezier(0.2, 0, 0, 1);
	--easing-standard-decelerate: cubic-bezier(0, 0, 0, 1);
	--easing-standard-accelerate: cubic-bezier(0.3, 0, 1, 1);

	// Durations
	--duration-short1: 50ms;
	--duration-short2: 100ms;
	--duration-short3: 150ms;
	--duration-short4: 200ms;
	--duration-medium1: 250ms;
	--duration-medium2: 300ms;
	--duration-medium3: 350ms;
	--duration-medium4: 400ms;
	--duration-long1: 450ms;
	--duration-long2: 500ms;
	--duration-long3: 550ms;
	--duration-long4: 600ms;
	--duration-xlong1: 700ms;
	--duration-xlong2: 800ms;
	--duration-xlong3: 900ms;
	--duration-xlong4: 1000ms;

	// Transition defaults
	--transition-in-out-emphasized: var(--duration-long2) var(--easing-emphasized);
	--transition-enter-screen-emphasized: var(--duration-medium4) var(--easing-emphasized-decelerate);
	--transition-exit-screen-emphasized: var(--duration-short4) var(--easing-emphasized-accelerate);
	--transition-in-out-standard: var(--duration-medium2) var(--easing-standard);
	--transition-enter-screen-standard: var(--duration-medium1) var(--easing-standard-decelerate);
	--transition-exit-screen-standard: var(--duration-short4) var(--easing-standard-accelerate);
}
